---
import Layout from '@layouts/Layout.astro'
import PostsComponent from '@components/Posts.astro'
import MainGridLayout from '@components/layout/MainGridLayout.astro'
---

<Layout title="Posts - henryavery.cn">
  <section class="py-10">
    <div class="container mx-auto">
      <MainGridLayout showLeftSidebar={true}>
        <div class="space-y-10">
          <header class="space-y-3 text-center">
            <h2 class="text-5xl font-bold">Posts</h2>
            <p>Explore all posts</p>
          </header>
          <PostsComponent maxPosts={100} />
        </div>
      </MainGridLayout>
    </div>
  </section>
</Layout>
